force-app/main/default/flows/Creater_Account_Interests_and_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Won_or_Not</name>
        <label>Won or Not</label>
        <locationX>508</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delete AI</defaultConnectorLabel>
        <rules>
            <name>Create_AI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Current_Opportunity.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Create_Account_Interests_Iterate</targetReference>
            </connector>
            <label>Create AI</label>
        </rules>
        <rules>
            <name>Empty_AI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >allAccountInterestRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Current_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >Get_Current_Opportunity.IsWon</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Current_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_Update</targetReference>
            </connector>
            <label>Empty AI</label>
        </rules>
    </decisions>
    <description
  >to create an auto-launched Flow for Opportunity object to fire in the event of successful closing of an Opportunity (Closed Won) and make it generate new Account Interest records for every Opportunity Product record attached to an Opportunity</description>
    <interviewLabel
  >Creater Account Interests and delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creater Account Interests and delete</label>
    <loops>
        <name>Create_Account_Interests_Iterate</name>
        <label>Create Account Interests Iterate</label>
        <locationX>830</locationX>
        <locationY>454</locationY>
        <collectionReference>allOppProductRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create</label>
        <locationX>1139</locationX>
        <locationY>454</locationY>
        <connector>
            <targetReference>Create_Account_Interests_Iterate</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_lookup__c</field>
            <value>
                <elementReference
        >Create_Account_Interests_Iterate.Opportunity.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Link__c</field>
            <value>
                <elementReference>Get_Current_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue
        >{!Create_Account_Interests_Iterate.PricebookEntry.UnitPrice}$</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_lookup__c</field>
            <value>
                <elementReference
        >Create_Account_Interests_Iterate.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Interest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete</name>
        <label>Delete</label>
        <locationX>837</locationX>
        <locationY>718</locationY>
        <inputReference>allAccountInterestRecord</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_Interest</name>
        <label>Get Account Interest</label>
        <locationX>347</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Won_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deal_Link__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentId</elementReference>
            </value>
        </filters>
        <object>Account_Interest__c</object>
        <outputReference>allAccountInterestRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Opportunity</name>
        <label>Get Current Opportunity</label>
        <locationX>138</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Product</name>
        <label>Get Opportunity Product</label>
        <locationX>138</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Interest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>allOppProductRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Blank_Update</name>
        <label>Blank Update</label>
        <locationX>521</locationX>
        <locationY>801</locationY>
        <inputReference>allOppProductRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>262</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>Get_Current_Opportunity</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>allAccountInterestRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Interest__c</objectType>
    </variables>
    <variables>
        <name>allOppProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
