force-app/main/default/flows/Step_by_step_manner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Action</name>
        <label>Log Action</label>
        <locationX>433</locationX>
        <locationY>531</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Comments_step</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Find_a_Match.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Map_comments</name>
        <label>Map comments</label>
        <locationX>136</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>Find_a_Match.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_Internal_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Find_a_Match.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_Internal_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Up_Case_Comments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existence_of_opportunity</name>
        <label>Existence of opportunity</label>
        <locationX>730</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>No_such_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Find_a_Match.Deal_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Action</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>ifInputNotOppID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputOpportunityID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0065</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Opportunity</targetReference>
            </connector>
            <label>ifInputNotOppID</label>
        </rules>
    </decisions>
    <interviewLabel
  >Step-by-step manner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Step-by-step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_a_Match</name>
        <label>Find a Match</label>
        <locationX>739</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existence_of_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deal_Link__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Up_Case_Comments</name>
        <label>Up Case Comments</label>
        <locationX>486</locationX>
        <locationY>723</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_a_Match.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>Find_a_Match.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Comments_step</name>
        <label>Comments step</label>
        <locationX>136</locationX>
        <locationY>531</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Map_comments</targetReference>
        </connector>
        <fields>
            <name>Custom_Internal_Comments</name>
            <fieldText>Custom Internal Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Find_a_Match.Comments</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_such_opportunity</name>
        <label>No such opportunity</label>
        <locationX>1070</locationX>
        <locationY>532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noSuchOppID</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>There is no such opportunity.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Opportunity</name>
        <label>Not Opportunity</label>
        <locationX>731</locationX>
        <locationY>796</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>by</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(105, 8, 8);&quot;&gt;Please enter Opportunity Id.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reception_opportunity</name>
        <label>Reception opportunity</label>
        <locationX>588</locationX>
        <locationY>73</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_a_Match</targetReference>
        </connector>
        <fields>
            <name>inputOpportunityID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>inputOppId</elementReference>
            </defaultValue>
            <fieldText>Opportunity ID</fieldText>
            <fieldType>InputField</fieldType>
            <helpText
      >&lt;p&gt;Enter the Opportunity ID that has tasks.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>36</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Reception_opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue />
        </value>
    </variables>
    <variables>
        <name>internalComm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
